[buildout]
parts = dev prod testrunner pydev
develop = .
#develop = . ../data/ ../utils/ ../gtfsdb/
app-egg-name = ott.services
newest = false
include-site-packages = true
allowed-eggs-from-site-packages = psycopg2 PyCrypto distribute mercurial Setuptools zc.buildout
prefer-final = true

[dev]
recipe = zc.recipe.egg
dependent-scripts = true
interpreter = python
eggs = ott.services[dev]

[prod]
recipe = zc.recipe.egg
dependent-scripts = true
interpreter = python
eggs = ott.services

[testrunner]
recipe = zc.recipe.testrunner
eggs = ${dev:eggs}
script = test

[pydev]
recipe = pb.recipes.pydev
eggs = ${dev:eggs}
