[buildout]
parts = dev prod testrunner pydev
develop = . ../data/ ../utils/ ../otp_client_py/ ../gtfsdb/ ../gtfsdb_realtime/ ../geocoder/
app-egg-name = ott.services
newest = false
include-site-packages = true
allowed-eggs-from-site-packages = psycopg2 PyCrypto distribute mercurial Setuptools zc.buildout
prefer-final = true

[dev]
recipe = zc.recipe.egg
dependent-scripts = true
eggs = ott.services[dev]
interpreter = python

[prod]
recipe = zc.recipe.egg
dependent-scripts = true
eggs = ott.services
interpreter = python

[testrunner]
recipe = zc.recipe.testrunner
eggs = ${dev:eggs}
script = test

[pydev]
recipe = pb.recipes.pydev
eggs = ${dev:eggs}
